@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@300&display=swap');
body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: linear-gradient(to bottom, #0077be, #6FBAFF);
    color: #fff;
    text-align: center;
    padding: 5px;
    font-family: 'Luckiest Guy', cursive;
    text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000;
    font-size: 32px;
}

nav {
    background-color: #e8f4fc;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #0077be;
    border-radius: 5px;
    margin: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #0077be;
    color: #fff;
    cursor: pointer;
    animation: shake 0.2s linear;
    animation-iteration-count: 1;
}

.botoes a {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0.0, 0.5);
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(5deg); }
    20% { transform: rotate(-5deg); }
    30% { transform: rotate(5deg); }
    40% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg); }
    70% { transform: rotate(5deg); }
    80% { transform: rotate(-5deg); }
    90% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

section {
    background-color: #e8f4fc;*/
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0.0, 0.5);
    padding: 20px;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid #0077be;
    border-radius: 5px;
    text-align: center;
}

footer {
    background: linear-gradient(to bottom, #6FBAFF, #0077be);
    color: #fff;
    text-align: center;
    padding: 20px;
}
.logos {
    width: 30px;
}
.contatos {
    padding-top: 20px;
    padding-bottom: 20px;
}
.contatos_paragrafo {
    margin-top: 0;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
  }
  #loader .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 20px;
    background-color: #ddd;
  }
  #loader .progress .bar {
    height: 100%;
    background-color: #00bcd4;
  }
  .scroll-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .image-container {
    display: inline-block;
  }
  .image-container img {
    display: inline-block;
    height: 400px;
    width: auto;
    margin-right: 10px;
  }
  .image-container2 img {
    display: inline-block;
    height: 200px;
    width: auto;
    margin-right: 10px;
  }